.container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clock {
  margin-bottom: 2.5rem;
  font-size: 8rem;
}

.input-name {
  padding-bottom: 0.5rem;
  border-style: none;
  border-bottom: 1px solid black;
  font-size: 2.5rem;
}

.input-name::placeholder {
  text-align: center;
}

.form,
.greetings {
  display: none;
}

.greetings {
  font-size: 2.5rem;
}

.showing {
  display: block;
}
